* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}







.contenido {
    width: 100%;
}
    



.noticia {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}
    

img {
    width: 100%;
}
    

.cuerpo p {
    padding: 5px 10px;
}



.cabecera-listado {
    
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags ul {
    padding: 0;
    list-style: none;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.noticias-destacadas {
    margin-bottom: 50px;
}

/* .noticias-destacadas img {
    width: 220px;
    height: 200px;
} */


.newsletter {
    
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: 24px
}

.group input,
.group button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;

}

.group button {
    background-color: coral;
    color: white;
}

.footer {
    width: 100%;
    
    text-align: center;
}