* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

body {
  font-family: monospace; }

.newsletter h2 {
  font-size: 24px; }

.group input,
.group button {
  font-size: 13px; }

.contenedor {
  width: 100%;
  padding: 10px; }

.nosotros {
  display: none; }

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; }

.nav {
  width: 65%; }

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase; }

.input-menu {
  border-radius: 30px; }

@media (min-width: 768px) {
  .nosotros {
    display: block; }

  .nav {
    width: 25%; } }
.noticia {
  width: 100%;
  display: inline-block;
  cursor: pointer; }

.cuerpo p {
  padding: 5px 10px; }

.group input,
.group button {
  display: inline-block;
  border-width: 0;
  padding: 5px 10px; }

.group button {
  background-color: coral;
  color: white; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px; }

.col-xs-12 {
  grid-column: span 12; }

.col-xs-11 {
  grid-column: span 11; }

.col-xs-10 {
  grid-column: span 10; }

.col-xs-9 {
  grid-column: span 9; }

.col-xs-8 {
  grid-column: span 8; }

.col-xs-7 {
  grid-column: span 7; }

.col-xs-6 {
  grid-column: span 6; }

.col-xs-5 {
  grid-column: span 5; }

.col-xs-4 {
  grid-column: span 4; }

.col-xs-3 {
  grid-column: span 3; }

.col-xs-2 {
  grid-column: span 2; }

.col-xs-1 {
  grid-column: span 1; }

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12; }

  .col-sm-11 {
    grid-column: span 11; }

  .col-sm-10 {
    grid-column: span 10; }

  .col-sm-9 {
    grid-column: span 9; }

  .col-sm-8 {
    grid-column: span 8; }

  .col-sm-7 {
    grid-column: span 7; }

  .col-sm-6 {
    grid-column: span 6; }

  .col-sm-5 {
    grid-column: span 5; }

  .col-sm-4 {
    grid-column: span 4; }

  .col-sm-3 {
    grid-column: span 3; }

  .col-sm-2 {
    grid-column: span 2; }

  .col-sm-1 {
    grid-column: span 1; } }
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12; }

  .col-md-11 {
    grid-column: span 11; }

  .col-md-10 {
    grid-column: span 10; }

  .col-md-9 {
    grid-column: span 9; }

  .col-md-8 {
    grid-column: span 8; }

  .col-md-7 {
    grid-column: span 7; }

  .col-md-6 {
    grid-column: span 6; }

  .col-md-5 {
    grid-column: span 5; }

  .col-md-4 {
    grid-column: span 4; }

  .col-md-3 {
    grid-column: span 3; }

  .col-md-2 {
    grid-column: span 2; }

  .col-md-1 {
    grid-column: span 1; } }
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12; }

  .col-lg-11 {
    grid-column: span 11; }

  .col-lg-10 {
    grid-column: span 10; }

  .col-lg-9 {
    grid-column: span 9; }

  .col-lg-8 {
    grid-column: span 8; }

  .col-lg-7 {
    grid-column: span 7; }

  .col-lg-6 {
    grid-column: span 6; }

  .col-lg-5 {
    grid-column: span 5; }

  .col-lg-4 {
    grid-column: span 4; }

  .col-lg-3 {
    grid-column: span 3; }

  .col-lg-2 {
    grid-column: span 2; }

  .col-lg-1 {
    grid-column: span 1; } }
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12; }

  .col-xl-11 {
    grid-column: span 11; }

  .col-xl-10 {
    grid-column: span 10; }

  .col-xl-9 {
    grid-column: span 9; }

  .col-xl-8 {
    grid-column: span 8; }

  .col-xl-7 {
    grid-column: span 7; }

  .col-xl-6 {
    grid-column: span 6; }

  .col-xl-5 {
    grid-column: span 5; }

  .col-xl-4 {
    grid-column: span 4; }

  .col-xl-3 {
    grid-column: span 3; }

  .col-xl-2 {
    grid-column: span 2; }

  .col-xl-1 {
    grid-column: span 1; } }
.menu {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.contenido {
  width: 100%;
  padding: 15px 20px; }

.listado-derecho {
  display: none; }

.cabecera-listado {
  border-bottom: 1px solid gray; }

.cabecera-listado p {
  margin-bottom: 10px; }

.tags {
  border-bottom: 1px solid gray; }

.tags h1 {
  margin: 10px 0; }

.tags ul {
  padding: 10px 0;
  list-style: none;
  text-align: right; }

.tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  display: inline-block; }

@media (min-width: 768px) {
  .listado-derecho {
    display: block;
    padding: 0 30px; } }
@media (max-width: 1080px) {
  .tags ul li {
    display: block;
    text-align: center;
    margin: 5px 0; } }
.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.newsletter p {
  margin-bottom: 10px; }

.footer {
  width: 100%;
  text-align: center;
  padding: 10px; }

/*# sourceMappingURL=main.css.map */
